<app-categories [dsort]="defaultSort"></app-categories>
<app-subscribe-btn
  *ngIf="showSubscribeBtn"
  [subtype]="subscribeType"
  [subval]="subscribeVal"
></app-subscribe-btn>

<h3 *ngIf="sortedPosts.length == 0">{{ searchResLbl }}</h3>
<h5 *ngIf="sortedPosts.length > 0">{{ resultsNumberFor }}</h5>

<div *ngFor="let Post of sortedPosts" style="margin-top: 30px">
  <mat-card style="margin-bottom: 30px">
    <a
      style="text-decoration: none"
      [routerLink]="['/pages/Post/', Post.id]"
    >
      <div class="flex-container" style="width: 100%;">
        <div style="width: 55%; margin: 0 2.5%">
          <h2>{{ Post.title.rendered }}</h2>

          <div>
            <a>{{ Post.date | date }}</a>
          </div>

          <div>
            category - <a>{{ Post.category }}</a>
          </div>

          <div>
            author - <a>{{ Post.author }}</a>
          </div>

          <!-- <div>
            views - <a>{{Post.views}}</a>
          </div>  -->
          <div style='    font-size: 16pt;
          line-height: 22pt;
          overflow: hidden;
          height: 66pt;
          margin-top: 20pt;' [innerHtml] = 'Post.excerpt.rendered'>
            </div>
        </div>
        <div class="img-wrap">
          <app-Post-img [mediaId]="Post.featured_media"></app-Post-img>
        </div>

       
      </div>
     
    </a></mat-card
  >
</div>

<div style="position: fixed; bottom: 20px; left: 20px">
  <app-create-btn></app-create-btn>
</div>
