<div style="text-align: center">
  <h1>
    Contact us, please.... <img style="width:10%" src="https://i.pinimg.com/originals/cf/3d/d8/cf3dd82ccab4bf1b947bf80a9dc3937f.jpg" />
  </h1>

  <form class="example-form">

    <mat-form-field class="example-full-width">
      <input placeholder="Full Name" matInput />
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Email" matInput />
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Subject" matInput />
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Content"></textarea>
    </mat-form-field>

  </form>

  <div style="text-align: center">
    <button class="btn btn-success middleBtn">Send</button>
  </div>
</div>