<div style="margin-top:20px ">
  <mat-button-toggle-group aria-label="Font Style" value="{{this.defaultSort}}" *ngFor="let sort of sorts">
    <mat-button-toggle (click)="sortBy($event.srcElement.innerText)" value="{{sort}}">{{sort}}</mat-button-toggle>
  </mat-button-toggle-group>

  <div *ngFor="let article of sortedArticles" style="margin-top: 30px; width: 27%;" class="flex-culomn">
    <mat-card style="margin: 30px 3%;">
      <a [routerLink]="['/pages/article/',article.id]" style="text-decoration: none"> 
        <div style="width:100%; height:150px" [ngStyle]="{'background-image': 'url(' + article.img + ')', 'background-position': 'center',
        'background-repeat': 'no-repeat'}"></div>
        
        

        <div style="width: 100%;">
          <h4 style="line-height: 20px; height:40px; overflow: hidden;">{{article.title}}</h4>

          
          <div> {{article.author}} </div>    to do
          <div> {{article.category}} </div>
          <div style="margin-top:15px; text-align: center">
            {{article.date | date: 'dd/MM/yyyy'}}
            <div style="margin-top:10px">
              <mat-icon matBadgeColor="accent" matBadge="{{article.views}}" matBadgeOverlap="true" matBadgePosition="">visibility</mat-icon>
            </div>
          </div>
        </div>

      </a>
    </mat-card>
  </div>
</div>