<!-- <h1>{{title}}</h1> -->



<div class="homepageDivs" style="float:right; background-color: darkcyan">
    <a [routerLink]="['/pages/wizard']">
        <div style="padding: 100px">
            Add Your Wordpress Blog To this Portal</div>
    </a> </div>



<div class="homepageDivs" style="float:left; background-color: blueviolet">
    <a [routerLink]="['/pages/archive']"> 
        <div style="padding: 100px">
            get into Groupit Portal</div>
    </a>
</div>

<!-- <app-archive></app-archive> -->